<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Detail pozice</title>

        <!-- Bootstrap core CSS -->

        <link href="production/css/bootstrap.min.css" rel="stylesheet">

        <link href="production/fonts/css/font-awesome.min.css" rel="stylesheet">
        <link href="production/css/animate.min.css" rel="stylesheet">

        <!-- Custom styling plus plugins -->
        <link href="production/css/custom.css" rel="stylesheet">
        <link href="production/css/icheck/flat/green.css" rel="stylesheet">


        <script src="production/js/jquery.min.js"></script>

        <!--[if lt IE 9]>
              <script src="../assets/production/js/ie8-responsive-file-warning.js"></script>
              <![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->

    </head>


    <body class="nav-sm">

        <div class="container body">


            <div class="main_container">

                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a href="staziste.html"><i class="fa fa-table"></i> Stážisté <span class="fa fa-chevron-down"></span></a>
                                    </li>

                                </ul>
                            </div>

                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a href="pozice.html"><i class="fa fa-table"></i> Pozice <span class="fa fa-chevron-down"></span></a>
                                    </li>

                                </ul>
                            </div>
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a href="odberatele.html"><i class="fa fa-edit"></i> Odběratelé <span class="fa fa-chevron-down"></span></a>
                                    </li>

                                </ul>
                            </div>

                            <ul class="nav side-menu">
                                <li><a href="prihlaseni.html"><i class="glyphicon glyphicon-off"></i> Odhlášení <span class="fa fa-chevron-down"></span></a>
                                </li>

                            </ul>

                        </div>
                        <!-- /sidebar menu -->

                    </div>
                </div>


                <!-- page content -->
                <div class="right_col" role="main">

                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Detail pozice</h3>
                            </div>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><button type="submit" class="btn btn-danger">Smazat pozici</button>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Název pozice</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Software engineer
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Jméno mentora </h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        John Doe
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Divize mentora </h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        John Doe
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Popis pozice</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Projekt</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Čím je mentor a jeho tým výjmečný?</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Požadavky na stážistu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Přínosy pro stážistu</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Poznámky</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula in pulvinar egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse maximus nisi et sagittis feugiat. Donec pretium tellus in mauris tristique, quis faucibus ligula vestibulum. Nullam blandit, nisl in varius imperdiet, libero sapien mollis erat, ullamcorper bibendum magna tellus et risus. Donec pretium porttitor efficitur. In sed tortor et dui consectetur scelerisque. Morbi sodales turpis urna, eu pharetra nisi blandit vel. Suspendisse a ipsum rutrum, malesuada nisl non, dapibus lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- footer content -->
                    <footer>
                        <div class="copyright-info">
                            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>  
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->

                </div>
                <!-- /page content -->
            </div>

        </div>

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>

        <script src="production/js/bootstrap.min.js"></script>

        <!-- bootstrap progress js -->
        <script src="production/js/progressbar/bootstrap-progressbar.min.js"></script>
        <script src="production/js/nicescroll/jquery.nicescroll.min.js"></script>
        <!-- icheck -->
        <script src="production/js/icheck/icheck.min.js"></script>

        <script src="production/js/custom.js"></script>

        <!-- image cropping -->
        <script src="production/js/cropping/cropper.min.js"></script>
        <script src="production/js/cropping/main.js"></script>

        <!-- daterangepicker -->
        <script type="text/javascript" src="production/js/moment/moment.min.js"></script>
        <script type="text/javascript" src="production/js/datepicker/daterangepicker.js"></script>

        <!-- chart js -->
        <script src="production/js/chartproduction/js/chart.min.js"></script>

        <!-- moris js -->
        <script src="production/js/moris/raphael-min.js"></script>
        <script src="production/js/moris/morris.min.js"></script>

        <!-- pace -->
        <script src="production/js/pace/pace.min.js"></script>

        <script>
            $(function () {
                var day_data = [{
                        "period": "Jan",
                        "Hours worked": 80
                    }, {
                        "period": "Feb",
                        "Hours worked": 125
                    }, {
                        "period": "Mar",
                        "Hours worked": 176
                    }, {
                        "period": "Apr",
                        "Hours worked": 224
                    }, {
                        "period": "May",
                        "Hours worked": 265
                    }, {
                        "period": "Jun",
                        "Hours worked": 314
                    }, {
                        "period": "Jul",
                        "Hours worked": 347
                    }, {
                        "period": "Aug",
                        "Hours worked": 287
                    }, {
                        "period": "Sep",
                        "Hours worked": 240
                    }, {
                        "period": "Oct",
                        "Hours worked": 211
                    }];
                Morris.Bar({
                    element: 'graph_bar',
                    data: day_data,
                    xkey: 'period',
                    hideHover: 'auto',
                    barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                    ykeys: ['Hours worked', 'sorned'],
                    labels: ['Hours worked', 'SORN'],
                    xLabelAngle: 60
                });
            });
        </script>
        <!-- datepicker -->
        <script type="text/javascript">
            $(document).ready(function () {

                var cb = function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
                }

                var optionSet1 = {
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment(),
                    minDate: '01/01/2012',
                    maxDate: '12/31/2015',
                    dateLimit: {
                        days: 60
                    },
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: true,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
                $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#reportrange').daterangepicker(optionSet1, cb);
                $('#reportrange').on('show.daterangepicker', function () {
                    console.log("show event fired");
                });
                $('#reportrange').on('hide.daterangepicker', function () {
                    console.log("hide event fired");
                });
                $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                    console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                });
                $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                    console.log("cancel event fired");
                });
                $('#options1').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function () {
                    $('#reportrange').data('daterangepicker').remove();
                });
            });
        </script>
        <!-- /datepicker -->
    </body>

</html>
