{% extends "base.html" %}
{% load static %}
{% block content %}

{% for pos in position_list %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Detail pozice {{pos.position_name}}</h3>
        </div>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="btn btn-danger" href="uzavrit/">Uzavřít</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Název pozice</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">{{pos.position_name}}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Jméno mentora </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{pos.mentor_name}}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Divize mentora </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{pos.division}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Popis pozice</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.position_description %}
                    {{pos.position_description}}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Projekt</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.project %}
                    {{pos.project}}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Čím je mentor a jeho tým výjmečný?</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.pros_of_mentor %}
                    {{pos.pros_of_mentor}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Požadavky na stážistu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.requirements %}
                    {{pos.requirements}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Přínosy pro stážistu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.benefit_for_intern %}
                    {{pos.benefit_for_intern}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Poznámky</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if pos.notes %}
                    {{pos.notes}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}

{% endblock content %}

