{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Editace profilu {{ intern.first_name}} {{ intern.last_name }}</h3>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="nav navbar-right panel_toolbox">
                    <a href="/staziste/profil/{{intern.id}}/">
                        <button class="btn btn-danger">Zrušit</button>
                    </a>
                </div>
                <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <form id="editProfileForm" data-parsley-validate
                              class="form-horizontal form-label-left" method="post" action="save/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Jméno
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" id="first_name"
                                           class="form-control col-md-7 col-xs-12" value="{{ intern.first_name }}"
                                           name="first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Příjmení
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" id="last_name" name="last_name"
                                           class="form-control col-md-7 col-xs-12" value="{{ intern.last_name }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Datum narození</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="date_of_birth" class="date-picker form-control col-md-7 col-xs-12"
                                           type="date" value="{{ intern.date_of_birth|date:"Y-m-d" }}"
                                    name="date_of_birth">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">E-mail</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="e_mail" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.e_mail }}"
                                           name="e_mail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Telefon</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="phone" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.phone }}" name="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Škola</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="school" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.school }}"
                                           name="school">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fakulta</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="faculty" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.faculty }}"
                                           name="faculty">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ročník</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="year" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.year }}"
                                           name="year">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Zaměření</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="field" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.field }}"
                                           name="field">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Pozice</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <select class="form-control" id="position"
                                            name="position">
                                        {% if intern.position == None %}
                                        <option value=""> Bez pozice</option>
                                        {% for pos in positions %}
                                        <option value="{{pos}}"> {{pos}}</option>
                                        {% endfor %}
                                        {% endif %}

                                        {% if intern.position != None %}
                                        <option value="{{intern.position}}">{{intern.position}}</option>
                                        {% for pos in positions %}
                                        {% if pos is not intern.position %}
                                            <option value="{{pos}}"> {{pos}}</option>
                                        {% endif %}
                                        {% endfor %}
                                        <option value=""> Bez pozice</option>
                                        {% endif %}

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mentor</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="mentor" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.mentor }}"
                                           name="mentor">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Divize</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="division" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" value="{{ intern.division }}"
                                           name="division">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Datum prvního
                                    pohovoru</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="second_interview_date"
                                           class="date-picker form-control col-md-7 col-xs-12"
                                           type="text"
                                           value="{{ intern.first_interview_date|default_if_none:"" }}"
                                    name="first_interview_date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Datum prvního
                                    pohovoru</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="first_interview_date"
                                           class="date-picker form-control col-md-7 col-xs-12"
                                           type="text"
                                           value="{{ intern.second_interview_date|default_if_none:"" }}"
                                    name="second_interview_date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Smlouva do:</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="contract_till" class="date-picker form-control col-md-7 col-xs-12"
                                           type="text" name="contract_till"
                                           value="{{ intern.contract_till|default_if_none:"" }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Přidělený
                                    koordinátor:</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <select class="form-control" id="assigned_coordinator"
                                            name="assigned_coordinator">
                                        <option value="{{intern.assigned_coordinator}}">
                                            {{intern.assigned_coordinator}}
                                        </option>
                                        {% for usr in users %}
                                        {%if intern.assigned_coordinator != usr %}
                                        <option value="{{usr}}">{{usr}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Status:</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input id="status" class="date-picker form-control col-md-7 col-xs-12"
                                           name="status" type="text"
                                           value="{{ intern.status }}">
                                </div>
                            </div>

                            <!--<input name="interests" hidden>-->
                            <!--<input name="learned_from" hidden>-->
                            <!--<input name="resume" hidden>-->
                            <!--<input name="cover_letter" hidden>-->
                            <!--<input name="active" hidden>-->
                            <!--<input name="wanted_boarding_date" hidden>-->
                            <!--<input name="registration_date" hidden>-->

                            {% for error in form.errors %}<p>{{ error }}</p> {% endfor %}
                            {% for error in form.non_field_errors %}<p>{{ error }}</p> {% endfor %}


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Uložit</button>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
