<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registrace do stážového programu</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body class="nav-md" style="background:#F7F7F7;">
<div>
    <div class="main_container">
        <div id="registration" class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 5%; margin-left: 25%">
            <div class="x_content">
                <div class="x_title" style="">
                    <center><h1>Registrace do stážového programu</h1></center>
                </div>

                <form class="form-horizontal form-label-left" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group {% if field.field.required %} required{% endif %}" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {{ field.label}}<span class="required">*</span>
                        </label>

                        <div class="col-md-8 col-sm-6 col-xs-12">
                            {{ field }}<a href="/souhlas/" style="text-decoration: underline;">{{field.help_text}}</a>
                            <ul class="parsley-errors-list filled">
                                <li class="parsley-required">
                                    {{ field.errors }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="ln_solid"></div>
                    <center>
                        <div class="form-group">
                            <div class="col-md-8 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Uložit</button>
                            </div>
                        </div>
                    </center>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- bootstrap progress js -->
<script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
<script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
<!-- icheck -->
<script src="{% static 'js/icheck/icheck.min.js' %}"></script>
<!-- tags -->
<script src="{% static 'js/tags/jquery.tagsinput.min.js' %}"></script>
<!-- switchery -->
<script src="{% static 'js/switchery/switchery.min.js' %}"></script>
<!-- daterangepicker -->
<script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
<!-- richtext editor -->
<script src="{% static 'js/editor/bootstrap-wysiwyg.js' %}"></script>
<script src="{% static 'js/editor/external/jquery.hotkeys.js' %}"></script>
<script src="{% static 'js/editor/external/google-code-prettify/prettify.js' %}"></script>
<!-- select2 -->
<script src="{% static 'js/select/select2.full.js' %}"></script>
<!-- form validation -->
<script type="text/javascript" src="{% static 'js/parsley/parsley.min.js' %}"></script>
<!-- textarea resize -->
<script src="{% static 'js/textarea/autosize.min.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>

<!-- form validation -->
<script src="{% static 'js/validator/validator.js' %}"></script>
<script>
            autosize($('.resizable_textarea'));

</script>
<!-- Autocomplete -->
<script type="text/javascript" src="{% static 'js/autocomplete/countries.js' %}"></script>
<script src="{% static 'js/autocomplete/jquery.autocomplete.js' %}"></script>
<!-- pace -->
<script src="{% static 'js/pace/pace.min.js' %}"></script>
<script type="text/javascript">
            $(function () {
                'use strict';
                var countriesArray = $.map(countries, function (value, key) {
                    return {
                        value: value,
                        data: key
                    };
                });
                // Initialize autocomplete with custom appendTo:
                $('#autocomplete-custom-append').autocomplete({
                    lookup: countriesArray,
                    appendTo: '#autocomplete-container'
                });
            });


</script>
<!-- select2 -->
<script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    maximumSelectionLength: 4,
                    placeholder: "With Max Selection limit 4",
                    allowClear: true
                });
            });

</script>
<!-- /select2 -->
<!-- input tags -->
<script>
            function onAddTag(tag) {
                alert("Added a tag: " + tag);
            }

            function onRemoveTag(tag) {
                alert("Removed a tag: " + tag);
            }

            function onChangeTag(input, tag) {
                alert("Changed a tag: " + tag);
            }

            $(function () {
                $('#tags_1').tagsInput({
                    width: 'auto'
                });
            });


</script>
<!-- /input tags -->
<!--&lt;!&ndash; form validation &ndash;&gt;-->
<!--<script type="text/javascript">-->
            <!--$(document).ready(function () {-->
                <!--$.listen('parsley:field:validate', function () {-->
                    <!--validateFront();-->
                <!--});-->
                <!--$('#demo-form .btn').on('click', function () {-->
                    <!--$('#demo-form').parsley().validate();-->
                    <!--validateFront();-->
                <!--});-->
                <!--var validateFront = function () {-->
                    <!--if (true === $('#demo-form').parsley().isValid()) {-->
                        <!--$('.bs-callout-info').removeClass('hidden');-->
                        <!--$('.bs-callout-warning').addClass('hidden');-->
                    <!--} else {-->
                        <!--$('.bs-callout-info').addClass('hidden');-->
                        <!--$('.bs-callout-warning').removeClass('hidden');-->
                    <!--}-->
                <!--};-->
            <!--});-->

            <!--$(document).ready(function () {-->
                <!--$.listen('parsley:field:validate', function () {-->
                    <!--validateFront();-->
                <!--});-->
                <!--$('#demo-form2 .btn').on('click', function () {-->
                    <!--$('#demo-form2').parsley().validate();-->
                    <!--validateFront();-->
                <!--});-->
                <!--var validateFront = function () {-->
                    <!--if (true === $('#demo-form2').parsley().isValid()) {-->
                        <!--$('.bs-callout-info').removeClass('hidden');-->
                        <!--$('.bs-callout-warning').addClass('hidden');-->
                    <!--} else {-->
                        <!--$('.bs-callout-info').addClass('hidden');-->
                        <!--$('.bs-callout-warning').removeClass('hidden');-->
                    <!--}-->
                <!--};-->
            <!--});-->
            <!--try {-->
                <!--hljs.initHighlightingOnLoad();-->
            <!--} catch (err) {-->
            <!--}-->


<!--</script>-->
<!-- /form validation -->
<!-- editor -->
<script>
            $(document).ready(function () {
                $('.xcxc').click(function () {
                    $('#descr').val($('#editor').html());
                });
            });

            $(function () {
                function initToolbarBootstrapBindings() {
                    var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                        'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                        'Times New Roman', 'Verdana'
                    ],
                            fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                    $.each(fonts, function (idx, fontName) {
                        fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                    });
                    $('a[title]').tooltip({
                        container: 'body'
                    });
                    $('.dropdown-menu input').click(function () {
                        return false;
                    })
                            .change(function () {
                                $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                            })
                            .keydown('esc', function () {
                                this.value = '';
                                $(this).change();
                            });

                    $('[data-role=magic-overlay]').each(function () {
                        var overlay = $(this),
                                target = $(overlay.data('target'));
                        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                    });
                    if ("onwebkitspeechchange" in document.createElement("input")) {
                        var editorOffset = $('#editor').offset();
                        $('#voiceBtn').css('position', 'absolute').offset({
                            top: editorOffset.top,
                            left: editorOffset.left + $('#editor').innerWidth() - 35
                        });
                    } else {
                        $('#voiceBtn').hide();
                    }
                }
                ;

                function showErrorAlert(reason, detail) {
                    var msg = '';
                    if (reason === 'unsupported-file-type') {
                        msg = "Unsupported format " + detail;
                    } else {
                        console.log("error uploading file", reason, detail);
                    }
                    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                            '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                }
                ;
                initToolbarBootstrapBindings();
                $('#editor').wysiwyg({
                    fileUploadError: showErrorAlert
                });
                window.prettyPrint && prettyPrint();
            });


</script>
<!--<script>-->
    <!--// initialize the validator function-->
    <!--validator.message['date'] = 'not a real date';-->

    <!--// validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':-->
    <!--$('form')-->
      <!--.on('blur', 'input[required], input.optional, select.required', validator.checkField)-->
      <!--.on('change', 'select.required', validator.checkField)-->
      <!--.on('keypress', 'input[required][pattern]', validator.keypress);-->

    <!--$('.multi.required')-->
      <!--.on('keyup blur', 'input', function() {-->
        <!--validator.checkField.apply($(this).siblings().last()[0]);-->
      <!--});-->

    <!--// bind the validation to the form submit event-->
    <!--//$('#send').click('submit');//.prop('disabled', true);-->

    <!--$('form').submit(function(e) {-->
      <!--e.preventDefault();-->
      <!--var submit = true;-->
      <!--// evaluate the form using generic validaing-->
      <!--if (!validator.checkAll($(this))) {-->
        <!--submit = false;-->
      <!--}-->

      <!--if (submit)-->
        <!--this.submit();-->
      <!--return false;-->
    <!--});-->

    <!--/* FOR DEMO ONLY */-->
    <!--$('#vfields').change(function() {-->
      <!--$('form').toggleClass('mode2');-->
    <!--}).prop('checked', false);-->

    <!--$('#alerts').change(function() {-->
      <!--validator.defaults.alerts = (this.checked) ? false : true;-->
      <!--if (this.checked)-->
        <!--$('form .alert').remove();-->
    <!--}).prop('checked', false);-->

<!--</script>-->
</body>

</html>





