{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Odběratelé</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <table id="datatable-responsive"
                                       class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>

                                        <th>Jméno</th>
                                        <th>Přímení</th>
                                        <th>E-mail</th>
                                        <th>Telefon</th>
                                        <th>Zajímá se o</th>
                                        <th>Ročník</th>
                                        <th>Škola</th>
                                        <th>Úvazek</th>
                                        <th>Zájmy</th>
                                        <th>Smazat</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>Tiger</td>
                                        <td>Nixon</td>
                                        <td>t.nixon@datatables.net</td>
                                        <td>System Architect</td>
                                        <td>
                                            <button type="button" class="btn btn-warning-sm btn-xs">Smazat</button>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-success">Export CSV</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer content -->
            <footer>
                <div class="copyright-info">
                    <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
        <!-- /page content -->
        {% endblock content %}


