{% extends "base.html" %}

<!-- page content -->
{% block content %}

    <div class="">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Stážisté</h2>

                        <div class="clearfix"></div>
                    </div>

                    <!--                                   <p>Zobrazované sloupce</p>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> Jméno
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> Přímení
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> E-Mail
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> Datum nástupu
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> Pozice
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" class="flat" checked="checked"> Mentor
                                                            </label>

                                                        </div>
                                                        <button type="submit" class="btn btn-success">Zobraz</button>-->
                    <div class="x_content">

                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Přímení</th>
                                <th>E-mail</th>
                                <th>Telefon</th>
                                <th>Status</th>
                                <th>Datum registrace</th>
                                <th>Profil</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for intern in interns_list %}
                            <tr>
                                <td>{{ intern.first_name }}</td>
                                <td>{{ intern.last_name }}</td>
                                <td><a href="mailto:{{ intern.e_mail }}">{{ intern.e_mail }}</a></td>
                                <td>{{ intern.phone }}</td>
                                <td>{{ intern.status }}</td>
                                <td>{{ intern.registration_date }}</td>
                                <td>
                                    <a href="{% url 'profil' intern.id %}">
                                        <button type="button" class="btn btn-warning-sm btn-xs">Profil</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>
                <!--<a href="profilStazisty.html">-->
                <!--<button type="submit" class="btn btn-success">Zobraz Profil</button>-->
                <!--</a>-->
                <!--<a href="formularStazista.html">-->
                <!--<button type="submit" class="btn btn-success">Zobraz formulář registrace</button>-->
                <!--</a>-->
                <!--<a href="formularPozice.html">-->
                <!--<button type="submit" class="btn btn-success">Zobraz formulář pozice</button>-->
                <!--</a>-->
                <!--<a href="formularNovinky.html">-->
                <!--<button type="submit" class="btn btn-success">Zobraz formulář novinky</button>-->
                <!--</a>-->
            </div>
        </div>
    </div>


{% endblock content %}



